In [8]:
import pandas as pd

In [10]:
bracero_df_og = pd.read_csv('../data/original/bracero_aer_dataset.tab', sep='\t')

In [12]:
bracero_df_og.sample(10)

,State,State_FIPS,Region,Year,Month,DailywoBoard_final,HourlyComposite_final,MonthlyComposite_final,TotalHiredSeasonal_final,Mexican_final,...,BWI_HP,Canadian_dual,Canadian_HP,PuertoRican_dual,PuertoRican_HP,OtherForeign_dual,OtherForeign_HP,cropland_1954,State_name,pop1950
5048,LA,22,7.0,1970,1.0,10.1,1.250,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3011000,Louisiana,2683516
14497,VA,51,5.0,1966,7.0,7.8,0.837,NaN,13528.0,0.0,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,3158000,Virginia,3318680
13935,VT,50,1.0,1944,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,92.0,NaN,NaN,NaN,NaN,NaN,799000,Vermont,377747
7988,NE,31,4.0,1965,11.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18874000,Nebraska,1325510
13527,TX,48,7.0,1974,7.0,16.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24885000,Texas,7711194
12855,SD,46,4.0,1962,10.0,9.1,0.870,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17760000,South Dakota,652740
11034,OK,40,7.0,1957,10.0,7.3,0.855,NaN,14981.0,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,10249000,Oklahoma,2233351
9301,NM,35,8.0,1957,1.0,6.2,0.706,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1135000,New Mexico,681187
7197,MS,28,6.0,1945,12.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2134.0,NaN,5530000,Mississippi,2178914
1510,CO,8,8.0,1961,11.0,NaN,NaN,NaN,1808.0,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,5220000,Colorado,1325089

In [13]:
bracero_df_og.columns

Index(['State', 'State_FIPS', 'Region', 'Year', 'Month', 'DailywoBoard_final',
       'HourlyComposite_final', 'MonthlyComposite_final',
       'TotalHiredSeasonal_final', 'Mexican_final',
       'HiredWorkersonFarms_final', 'Local_final', 'Intrastate_final',
       'Interstate_final', 'TotalForeign_final', 'Jamaican_final',
       'Bahamian_final', 'BWIOthers_final', 'BWI_final', 'Canadian_final',
       'CanadianOthers_final', 'PuertoRican_final', 'OtherForeign_final',
       'TotalAg_final', 'Nonlocal_final', 'Farmworkers_Total',
       'Farmworkers_Family', 'Farmworkers_Hired', 'Petroleum', 'Tractors',
       'Cotton_machine', 'Sugarbeet_machine', 'Sugarbeet_monogerm',
       'SugarBeets', 'Cotton', 'Tomatoes_total', 'Lettuce',
       'Strawberries_total', 'Citrus', 'Cantaloupes', 'BrusselsSprouts',
       'Asparagus_total', 'Celery', 'Cucumbers_pickle', 'Tomatoes_fresh',
       'Tomatoes_proc', 'Strawberries_fresh', 'Strawberries_proc',
       'Asparagus_fresh', 'Asparagus_proc', 'TotalHiredSeasonal_dual',
       'TotalHiredSeasonal_HP', 'TotalAg_dual', 'TotalAg_HP', 'Mexican_dual',
       'Mexican_HP', 'TotalForeign_dual', 'TotalForeign_HP',
       'TotalDomestic_dual', 'Local_dual', 'Local_HP', 'Intrastate_dual',
       'Intrastate_HP', 'Interstate_dual', 'Interstate_HP', 'Jamaican_dual',
       'Jamaican_HP', 'Bahamian_dual', 'Bahamian_HP', 'BWI_dual', 'BWI_HP',
       'Canadian_dual', 'Canadian_HP', 'PuertoRican_dual', 'PuertoRican_HP',
       'OtherForeign_dual', 'OtherForeign_HP', 'cropland_1954', 'State_name',
       'pop1950'],
      dtype='object')

In [78]:
farmworkers_df = bracero_df_og[['State','Year','Month', 'Region', 'TotalHiredSeasonal_final','Mexican_final','HiredWorkersonFarms_final',
              'Local_final','Intrastate_final','Interstate_final','TotalForeign_final','Jamaican_final','Bahamian_final',
              'BWIOthers_final','BWI_final','Canadian_final','CanadianOthers_final','PuertoRican_final', 'TotalAg_final','Nonlocal_final','Farmworkers_Total','Farmworkers_Family','Farmworkers_Hired']]

In [80]:
farmworkers_df.sample(10)

,State,Year,Month,Region,TotalHiredSeasonal_final,Mexican_final,HiredWorkersonFarms_final,Local_final,Intrastate_final,Interstate_final,...,BWIOthers_final,BWI_final,Canadian_final,CanadianOthers_final,PuertoRican_final,TotalAg_final,Nonlocal_final,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
6058,MA,1965,12.0,1.0,1105.0,0.0,NaN,1089.0,0.0,16.0,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2112,DE,1954,4.0,5.0,NaN,NaN,285000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8060,NE,1965,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,117.0,19.0
9454,NM,1956,8.0,8.0,5579.0,3858.0,NaN,1461.0,66.0,133.0,...,0.0,NaN,NaN,NaN,0.0,5518.0,NaN,NaN,NaN,NaN
4125,IA,1956,9.0,4.0,721.0,21.0,NaN,150.0,0.0,350.0,...,0.0,NaN,NaN,NaN,0.0,521.0,NaN,NaN,NaN,NaN
7148,MS,1973,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0,87.0,36.0
3585,IL,1967,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0,164.0,34.0
15151,WV,1947,10.0,5.0,NaN,NaN,490000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11234,OK,1944,9.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6014,MA,1944,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
farmworkers_df = farmworkers_df.rename(columns={'TotalHiredSeasonal_final': 'TotalHiredSeasonal', 
                                               'Mexican_final': 'Mexican', 'HiredWorkersonFarms_final': 'HiredWorkers',
                                               'Local_final': 'Local', 'Intrastate_final': 'Intrastate', 'Interstate_final': 'Interstate',
                                               'TotalForeign_final': 'TotalForeign', 'Jamaican_final': 'Jamaican', 'Bahamian_final': 'Bahamian',
                                               'BWIOthers_final': 'BWIOthers', 'BWI_final': 'BWI', 'Canadian_final': 'Canadian', 'CanadianOthers_final': 'CanaidanOthers',
                                               'PuertoRican_final': 'PuertoRican', 'OtherForeign_final': 'OtherForeign', 'TotalAg_final': 'TotalAgWorkers',
                                               'Nonlocal_final': 'Nonlocal'})

In [84]:
farmworkers_df.sample(10)

,State,Year,Month,Region,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,...,BWIOthers,BWI,Canadian,CanaidanOthers,PuertoRican,TotalAgWorkers,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
8054,NE,1945,5.0,4.0,NaN,737.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4893,KY,1955,4.0,6.0,NaN,NaN,152000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11816,PA,1971,3.0,2.0,2684.0,NaN,NaN,2424.0,0.0,260.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,104.0,93.0,11.0
12910,TN,1955,1.0,6.0,NaN,NaN,96000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4804,KY,1966,11.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207.0,169.0,38.0
8104,NE,1943,10.0,4.0,NaN,180.0,324000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
681,AZ,1965,11.0,8.0,21097.0,0.0,NaN,17739.0,1424.0,1934.0,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2142,DE,1960,4.0,5.0,NaN,NaN,250000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12310,SC,1969,9.0,5.0,12025.0,NaN,NaN,11316.0,70.0,639.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,96.0,71.0,25.0
13200,TN,1960,9.0,6.0,28706.0,0.0,NaN,28631.0,75.0,0.0,...,NaN,0.0,NaN,0.0,0.0,NaN,NaN,364.0,260.0,104.0

In [26]:
farmworkers_df.to_csv('farmworkers.csv', encoding='utf-8', index=False)

In [86]:
farmworkers_df.groupby('State').sum()

,Year,Month,Region,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,TotalForeign,...,BWIOthers,BWI,Canadian,CanaidanOthers,PuertoRican,TotalAgWorkers,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
State,,,,,,,,,,,,,,,,,,,,,
AL,636761,2105.0,1818.0,1442463.0,0.0,28193000.0,1502506.0,18036.0,43454.0,8495.0,...,0.0,0.0,0.0,0.0,0.0,647711.0,0.0,23682.0,18491.0,5191.0
AR,669949,2229.0,2240.0,3906625.0,680217.0,39344000.0,4126659.0,152700.0,191736.0,684815.0,...,1889.0,4526.0,0.0,0.0,0.0,1716523.0,51608.0,33013.0,19536.0,13477.0
AZ,710894,2387.0,2728.0,3504553.0,991847.0,15585900.0,2954206.0,244962.0,509014.0,760205.0,...,0.0,0.0,0.0,0.0,1.0,1188980.0,432500.0,0.0,0.0,0.0
CA,726482,2419.0,3141.0,26194997.0,6309812.0,35237000.0,21807528.0,4048135.0,2181105.0,4906377.0,...,16773.0,0.0,0.0,67810.0,1415.0,8692280.0,2216400.0,62013.0,21197.0,40806.0
CO,640660,2110.0,2440.0,1494793.0,200751.0,15585900.0,794270.0,138452.0,536114.0,210571.0,...,74.0,0.0,0.0,0.0,0.0,544895.0,0.0,11902.0,8277.0,3625.0
CT,636761,2105.0,303.0,1032350.0,0.0,7235300.0,811911.0,6725.0,200950.0,160440.0,...,50327.0,58430.0,2822.0,0.0,142309.0,325690.0,0.0,0.0,0.0,0.0
DE,636761,2105.0,1515.0,328358.0,230.0,45822000.0,147019.0,3633.0,168119.0,14186.0,...,344.0,302.0,359.0,0.0,54648.0,66845.0,0.0,0.0,0.0,0.0
FL,636761,2105.0,1515.0,8368949.0,0.0,45822000.0,6837444.0,587940.0,910651.0,941423.0,...,184536.0,642466.0,0.0,0.0,53680.0,1446624.0,0.0,21834.0,7997.0,13837.0
GA,636761,2105.0,1515.0,2602010.0,12069.0,45822000.0,2973350.0,20149.0,2465.0,31527.0,...,0.0,0.0,0.0,0.0,0.0,663538.0,0.0,27658.0,20673.0,6985.0
IA,636761,2105.0,1212.0,680187.0,9221.0,25163000.0,827644.0,5257.0,37910.0,15925.0,...,1419.0,279.0,0.0,0.0,0.0,63308.0,0.0,49144.0,42506.0,6638.0
ID,636761,2105.0,2424.0,1336185.0,83111.0,15585900.0,864954.0,77012.0,550693.0,78986.0,...,9.0,136.0,0.0,0.0,0.0,403087.0,0.0,11341.0,8114.0,3237.0
IL,636761,2105.0,909.0,691068.0,15131.0,24142000.0,290576.0,22351.0,396129.0,36870.0,...,7179.0,1542.0,0.0,0.0,35.0,208489.0,0.0,40325.0,32977.0,7348.0
IN,652369,2161.0,933.0,609468.0,14223.0,24142000.0,180020.0,3406.0,436776.0,31434.0,...,6897.0,6192.0,0.0,0.0,2345.0,165592.0,0.0,33981.0,30212.0,3769.0
KS,636761,2105.0,1212.0,1567471.0,8687.0,25163000.0,1203158.0,334085.0,245138.0,20391.0,...,0.0,0.0,0.0,0.0,10.0,412965.0,0.0,26571.0,22701.0,3870.0
KY,636761,2105.0,1818.0,1425857.0,2742.0,28193000.0,1627306.0,21636.0,18537.0,9291.0,...,0.0,0.0,0.0,0.0,20.0,334208.0,0.0,39686.0,31760.0,7926.0
LA,648476,2141.0,2163.0,1807861.0,1720.0,39344000.0,1732430.0,49398.0,51823.0,54380.0,...,20.0,875.0,0.0,0.0,40.0,585410.0,7556.0,22993.0,14032.0,8961.0
MA,636761,2105.0,303.0,1066942.0,0.0,7235300.0,996408.0,5816.0,105130.0,40018.0,...,10917.0,16833.0,3776.0,967.0,96776.0,374690.0,0.0,0.0,0.0,0.0
MD,693328,2280.0,1660.0,801369.0,0.0,45822000.0,509641.0,5757.0,203419.0,41348.0,...,2957.0,660.0,290.0,0.0,17562.0,222677.0,102346.0,0.0,0.0,0.0
ME,636761,2105.0,303.0,1012687.0,0.0,7235300.0,936060.0,3470.0,5272.0,107429.0,...,31055.0,623.0,25687.0,30409.0,1633.0,400751.0,0.0,0.0,0.0,0.0
MI,691383,2301.0,993.0,4557079.0,287373.0,24142000.0,2577274.0,423557.0,2395333.0,311625.0,...,5272.0,5090.0,0.0,71.0,17467.0,2617352.0,701479.0,34536.0,28135.0,6401.0
MN,638715,2117.0,1216.0,709741.0,33859.0,25163000.0,428252.0,25545.0,208117.0,41356.0,...,6830.0,3464.0,0.0,0.0,0.0,229965.0,0.0,44292.0,38549.0,5743.0
MO,636761,2105.0,1212.0,1239817.0,16228.0,25163000.0,1104643.0,43049.0,126702.0,27181.0,...,0.0,0.0,0.0,0.0,0.0,600844.0,0.0,45545.0,38707.0,6838.0
MS,636761,2105.0,1818.0,1604729.0,0.0,28193000.0,1623363.0,31322.0,7182.0,22939.0,...,0.0,0.0,0.0,0.0,0.0,338979.0,0.0,36903.0,27686.0,9227.0
MT,636761,2105.0,2424.0,920397.0,103770.0,15585900.0,514887.0,218765.0,329772.0,90105.0,...,0.0,334.0,0.0,0.0,0.0,269392.0,0.0,8839.0,6508.0,2331.0
NC,636761,2105.0,1515.0,9500340.0,991.0,45822000.0,11437890.0,214559.0,491709.0,19394.0,...,0.0,0.0,0.0,0.0,300.0,818739.0,0.0,64457.0,47850.0,16607.0
ND,636761,2105.0,1212.0,917483.0,18425.0,25163000.0,495970.0,170898.0,392473.0,10455.0,...,0.0,162.0,0.0,0.0,54.0,288258.0,0.0,14797.0,11876.0,2921.0
NE,636761,2105.0,1212.0,371591.0,51141.0,25163000.0,288607.0,19272.0,129233.0,57667.0,...,0.0,2.0,0.0,0.0,2.0,87996.0,0.0,25723.0,21955.0,3768.0
NH,636761,2105.0,303.0,107914.0,79.0,7235300.0,106566.0,1812.0,5774.0,8105.0,...,779.0,1366.0,3902.0,1552.0,3131.0,23875.0,0.0,0.0,0.0,0.0
NJ,648455,2147.0,618.0,1738436.0,0.0,16180000.0,759962.0,17059.0,744914.0,56898.0,...,18119.0,7713.0,1866.0,0.0,613035.0,513439.0,0.0,6423.0,3454.0,2969.0
NM,644576,2134.0,2456.0,875952.0,569362.0,15585900.0,292265.0,32237.0,65651.0,528106.0,...,0.0,0.0,0.0,0.0,1310.0,511635.0,8698.0,0.0,0.0,0.0
NV,636761,2105.0,2424.0,42185.0,16381.0,15585900.0,18034.0,7918.0,16285.0,10086.0,...,0.0,0.0,0.0,0.0,0.0,22570.0,0.0,0.0,0.0,0.0
NY,658223,2178.0,628.0,2691322.0,521.0,16180000.0,1027139.0,113036.0,1325275.0,95445.0,...,23220.0,17835.0,9932.0,387.0,124926.0,953670.0,108902.0,25334.0,17321.0,8012.0
OH,636761,2105.0,909.0,1966564.0,974.0,24142000.0,1583532.0,36287.0,648093.0,21341.0,...,877.0,284.0,0.0,0.0,13510.0,414924.0,0.0,38416.0,33221.0,5195.0
OK,636761,2105.0,2121.0,1994575.0,0.0,39344000.0,1769256.0,223313.0,257453.0,7484.0,...,0.0,0.0,0.0,0.0,0.0,424912.0,0.0,27598.0,22836.0,4762.0
OR,654322,2164.0,2808.0,3802887.0,79561.0,35237000.0,3379963.0,304119.0,971739.0,46368.0,...,0.0,0.0,0.0,0.0,0.0,1209603.0,0.0,15800.0,10839.0,4958.0
PA,636761,2105.0,606.0,1736820.0,0.0,16180000.0,1484525.0,51667.0,266322.0,14932.0,...,276.0,217.0,2382.0,0.0,89539.0,490772.0,0.0,29486.0,24561.0,4915.0
RI,636761,2105.0,303.0,3231.0,0.0,7235300.0,2679.0,0.0,185.0,752.0,...,0.0,0.0,532.0,116.0,221.0,0.0,0.0,0.0,0.0,0.0
SC,636761,2105.0,1515.0,1677040.0,0.0,45822000.0,1775278.0,43550.0,128998.0,8970.0,...,0.0,0.0,0.0,0.0,1729.0,553415.0,0.0,25522.0,17707.0,7815.0
SD,636761,2105.0,1212.0,41813.0,12433.0,25163000.0,20641.0,4057.0,13819.0,11217.0,...,75.0,0.0,0.0,0.0,0.0,22641.0,0.0,15361.0,13505.0,1856.0
TN,636761,2105.0,1818.0,2392010.0,15716.0,28193000.0,2799005.0,8605.0,13443.0,23546.0,...,0.0,0.0,0.0,0.0,0.0,802225.0,0.0,39281.0,31348.0,7923.0
TX,636761,2105.0,2121.0,25359723.0,4192340.0,39344000.0,20261468.0,3108519.0,200490.0,4195512.0,...,0.0,1536.0,0.0,0.0,50.0,9232422.0,0.0,68971.0,43336.0,25635.0
UT,636761,2105.0,2424.0,618150.0,40628.0,15585900.0,451700.0,13508.0,138594.0,43665.0,...,0.0,0.0,0.0,0.0,0.0,208202.0,0.0,0.0,0.0,0.0
VA,677736,2243.0,1620.0,1260841.0,0.0,45822000.0,1043568.0,10213.0,402785.0,43237.0,...,5993.0,17585.0,0.0,0.0,4242.0,338676.0,142678.0,30124.0,22092.0,8032.0
VT,636761,2105.0,303.0,96899.0,0.0,7235300.0,75269.0,133.0,8183.0,14323.0,...,8329.0,1622.0,4818.0,480.0,0.0,51859.0,0.0,0.0,0.0,0.0
WA,646516,2144.0,2772.0,4039212.0,85594.0,35237000.0,3303202.0,443110.0,901568.0,66950.0,...,85.0,50.0,4000.0,0.0,165.0,1098727.0,0.0,18917.0,12425.0,6506.0
WI,636761,2105.0,909.0,922822.0,37991.0,24142000.0,409559.0,8169.0,309470.0,87292.0,...,23388.0,5998.0,0.0,0.0,1013.0,326065.0,0.0,45949.0,41194.0,4765.0
WV,636761,2105.0,1515.0,67239.0,0.0,45822000.0,33669.0,1760.0,10721.0,7657.0,...,2480.0,4932.0,0.0,0.0,56.0,20304.0,0.0,10247.0,8576.0,1671.0
WY,636761,2105.0,2424.0,281560.0,39137.0,15585900.0,175776.0,19080.0,103121.0,40030.0,...,0.0,4.0,0.0,0.0,0.0,110830.0,0.0,0.0,0.0,0.0

In [88]:
farmworkers_df.groupby('Year').sum()

,State,Month,Region,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,TotalForeign,...,BWIOthers,BWI,Canadian,CanaidanOthers,PuertoRican,TotalAgWorkers,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
Year,,,,,,,,,,,,,,,,,,,,,
1942,ALALALALAZAZAZAZARARARARCACACACACOCOCOCOCTCTCT...,1056.0,952.0,0.0,0.0,52976000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1943,ALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZARARAR...,3504.0,2380.0,0.0,218183.0,50791000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1944,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,0.0,453396.0,47127000.0,0.0,0.0,0.0,0.0,...,0.0,4385.0,7374.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1945,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,0.0,466255.0,43093000.0,0.0,0.0,0.0,1122743.0,...,0.0,0.0,13646.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1946,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,0.0,340678.0,43319000.0,0.0,0.0,0.0,518769.0,...,0.0,16877.0,13432.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1947,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,0.0,231378.0,45495000.0,0.0,0.0,0.0,329131.0,...,0.0,4533.0,9373.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1948,ALALALALAZAZAZAZAZAZAZAZARARARARCACACACACACACA...,1220.0,1113.0,323600.0,105977.0,46970000.0,177451.0,478.0,21909.0,6632.0,...,0.0,0.0,0.0,0.0,210.0,168683.0,128526.0,0.0,0.0,0.0
1949,ALALALALAZAZAZAZAZAZAZAZARARARARCACACACACACACA...,1288.0,1129.0,0.0,64968.0,49855000.0,69000.0,118152.0,130011.0,0.0,...,0.0,1134.0,0.0,0.0,22120.0,221965.0,131200.0,0.0,0.0,0.0
1950,ALALALALAZAZAZAZAZAZAZAZAZAZAZAZARARARARCACACA...,1325.0,1191.0,0.0,106024.0,52046000.0,313933.0,73665.0,128820.0,0.0,...,0.0,0.0,0.0,0.0,11124.0,116750.0,292029.0,0.0,0.0,0.0
1951,ALALALALAZAZAZAZAZAZAZAZAZAZAZAZARARARARARARAR...,1344.0,1228.0,0.0,345832.0,49725000.0,1876416.0,65927.0,77340.0,20947.0,...,0.0,1175.0,0.0,0.0,576.0,270454.0,760018.0,0.0,0.0,0.0
1952,ALALALALAZAZAZAZAZAZAZAZAZAZAZAZARARARARARARAR...,1401.0,1254.0,0.0,429757.0,47128000.0,1969469.0,60283.0,98003.0,67771.0,...,0.0,5231.0,0.0,0.0,1805.0,279868.0,767347.0,0.0,0.0,0.0
1953,ALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZAZARAR...,3062.0,2291.0,4896195.0,676786.0,47389000.0,3797962.0,485829.0,607713.0,337463.0,...,47811.0,1917.0,4000.0,0.0,56934.0,2784723.0,850414.0,0.0,0.0,0.0
1954,ALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZAZARAR...,3076.0,2287.0,7009634.0,874184.0,42816000.0,4681564.0,679299.0,883055.0,804819.0,...,64655.0,2400.0,0.0,0.0,75428.0,6494886.0,842633.0,0.0,0.0,0.0
1955,ALALALALALALALALALAZAZAZAZAZAZAZAZAZARARARARAR...,2928.0,2142.0,8131715.0,1069379.0,41044000.0,4786736.0,669003.0,845245.0,1136742.0,...,67338.0,0.0,0.0,0.0,76447.0,7513174.0,0.0,0.0,0.0,0.0
1956,ALALALALALALALALALAZAZAZAZAZAZAZAZAZARARARARAR...,2928.0,2142.0,8345439.0,1236958.0,40573000.0,4703047.0,725374.0,822434.0,1311160.0,...,74281.0,0.0,0.0,0.0,88273.0,7637938.0,0.0,0.0,0.0,0.0
1957,ALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZARARAR...,3504.0,2142.0,8188469.0,1216876.0,40233000.0,4582005.0,682325.0,887380.0,1346585.0,...,95709.0,0.0,0.0,0.0,88543.0,7590699.0,0.0,37338.0,28030.0,9308.0
1958,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2380.0,8576584.0,1304210.0,39968000.0,4879276.0,756338.0,874181.0,1364506.0,...,60325.0,0.0,0.0,0.0,91079.0,7967414.0,0.0,85375.0,64062.0,21313.0
1959,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2142.0,7651414.0,1213834.0,42763000.0,4815129.0,686562.0,798376.0,1274902.0,...,0.0,47409.0,0.0,13647.0,76421.0,0.0,0.0,83943.0,62859.0,21084.0
1960,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2142.0,7643865.0,1017684.0,39106000.0,5043570.0,605835.0,826849.0,1083134.0,...,0.0,44520.0,0.0,20997.0,84507.0,0.0,0.0,80971.0,60471.0,20500.0
1961,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2142.0,7311682.0,881383.0,40804000.0,4884281.0,573617.0,826009.0,946943.0,...,0.0,47783.0,0.0,17777.0,81032.0,0.0,0.0,79651.0,58797.0,20854.0
1962,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2380.0,7268657.0,575210.0,39189000.0,5192741.0,545052.0,867256.0,652793.0,...,0.0,61270.0,0.0,15023.0,35425.0,0.0,0.0,76966.0,56820.0,20136.0
1963,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,8087592.0,549336.0,39018000.0,6002740.0,502114.0,882297.0,675581.0,...,0.0,104106.0,0.0,22139.0,30516.0,0.0,0.0,74432.0,54542.0,19900.0
1964,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,8407862.0,506304.0,35543000.0,6387658.0,485304.0,902573.0,632687.0,...,0.0,100364.0,0.0,12209.0,34506.0,0.0,0.0,69738.0,51865.0,17873.0
1965,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,7977976.0,27963.0,31582000.0,6342752.0,568751.0,953922.0,112922.0,...,0.0,73190.0,0.0,0.0,47385.0,0.0,0.0,64015.0,47517.0,16498.0
1966,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,7408845.0,13860.0,30683000.0,5915766.0,509522.0,918723.0,63784.0,...,0.0,45404.0,1016.0,0.0,55269.0,0.0,0.0,59452.0,44320.0,15132.0
1967,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2380.0,6371865.0,5850.0,26849000.0,5016707.0,400625.0,914471.0,40292.0,...,0.0,30713.0,3729.0,0.0,53207.0,0.0,0.0,55993.0,42108.0,13884.0
1968,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,2210376.0,0.0,25418000.0,5515083.0,463916.0,905198.0,39513.0,...,0.0,38427.0,1086.0,0.0,53302.0,0.0,0.0,54261.0,40821.0,13451.0
1969,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,4506865.0,0.0,24111600.0,5496970.0,442027.0,861780.0,42033.0,...,0.0,40017.0,2016.0,0.0,49949.0,0.0,0.0,52436.0,39471.0,12965.0
1970,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2380.0,3574365.0,0.0,24703000.0,4735206.0,353327.0,725451.0,24029.0,...,0.0,22144.0,1885.0,0.0,41994.0,0.0,0.0,51673.0,38676.0,12997.0
1971,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,3682711.0,0.0,24057800.0,5288442.0,383613.0,711564.0,39482.0,...,0.0,37814.0,1668.0,0.0,37248.0,0.0,0.0,50818.0,37905.0,12913.0
1972,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,2856.0,2725666.0,0.0,24185400.0,5116392.0,332177.0,635954.0,44180.0,...,0.0,43039.0,1141.0,0.0,32205.0,0.0,0.0,50012.0,37303.0,12709.0
1973,ALALALALALALALALALALALALAZAZAZAZAZAZAZAZAZAZAZ...,3744.0,1904.0,1111188.0,0.0,23797400.0,2776736.0,174924.0,301325.0,27206.0,...,0.0,27206.0,0.0,0.0,15719.0,0.0,0.0,49590.0,36587.0,13003.0
1974,ALALALALAZAZAZAZARARARARCACACACACOCOCOCOCTCTCT...,1056.0,952.0,0.0,0.0,3566800.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1975,ALAZARCACOCTDEFLGAIDILINIAKSKYLAMEMDMAMIMNMSMO...,48.0,238.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [130]:
co_filter = farmworkers_df['State'] == 'CO'

In [140]:
co_farmworkers = farmworkers_df[co_filter]

In [142]:
co_farmworkers.sample(10)

,State,Year,Month,Region,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,...,BWIOthers,BWI,Canadian,CanaidanOthers,PuertoRican,TotalAgWorkers,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
1722,CO,1958,10.0,8.0,19716.0,151.0,191000.0,9195.0,1868.0,3771.0,...,0.0,NaN,NaN,NaN,0.0,14985.0,NaN,88.0,58.0,30.0
1469,CO,1951,4.0,8.0,NaN,NaN,63000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1726,CO,1966,4.0,8.0,NaN,NaN,67000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,36.0,11.0
1409,CO,1967,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,31.0,10.0
1515,CO,1963,7.0,8.0,13662.0,2597.0,167000.0,6546.0,960.0,3559.0,...,NaN,0.0,NaN,0.0,0.0,NaN,NaN,77.0,49.0,28.0
1430,CO,1963,11.0,8.0,1502.0,4.0,NaN,1228.0,177.0,93.0,...,NaN,0.0,NaN,0.0,0.0,NaN,NaN,50.0,40.0,10.0
1530,CO,1955,7.0,8.0,16378.0,997.0,172000.0,9576.0,1103.0,4318.0,...,0.0,NaN,NaN,NaN,0.0,15994.0,NaN,NaN,NaN,NaN
1597,CO,1967,6.0,8.0,13024.0,NaN,NaN,4350.0,607.0,8067.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,74.0,41.0,33.0
1489,CO,1967,10.0,8.0,8427.0,NaN,126000.0,4696.0,853.0,2878.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,65.0,37.0,28.0
1644,CO,1946,2.0,8.0,NaN,46.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
co_farmworkers['Region'] == 2.0

1401    False
1402    False
1403    False
1404    False
1405    False
        ...
1723    False
1724    False
1725    False
1726    False
1727    False
Name: Region, Length: 327, dtype: bool

In [108]:
farmworkers_condensed = farmworkers_df[['State','Year','Month', 'Region', 'TotalHiredSeasonal','Mexican','HiredWorkers',
              'Local','Intrastate','Interstate','TotalForeign','TotalAgWorkers','Nonlocal','Farmworkers_Total',
                                        'Farmworkers_Family','Farmworkers_Hired']]

In [100]:
farmworkers_condensed.head(10)

,State,Year,Month,Region,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,TotalForeign,TotalAgWorkers,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
0,AL,1947,7.0,6.0,NaN,NaN,207000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,1963,9.0,6.0,21980.0,0.0,NaN,21830.0,150.0,0.0,0.0,NaN,NaN,227.0,162.0,65.0
2,AL,1945,8.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,370.0,NaN,NaN,NaN,NaN,NaN
3,AL,1972,4.0,6.0,NaN,NaN,81000.0,NaN,NaN,NaN,NaN,NaN,NaN,86.0,68.0,18.0
4,AL,1964,10.0,6.0,16195.0,0.0,295000.0,16159.0,0.0,36.0,0.0,NaN,NaN,227.0,170.0,57.0
5,AL,1946,3.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AL,1956,4.0,6.0,NaN,NaN,147000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AL,1961,10.0,6.0,24335.0,0.0,405000.0,24275.0,0.0,60.0,0.0,NaN,NaN,265.0,195.0,70.0
8,AL,1965,5.0,6.0,5930.0,0.0,NaN,5115.0,0.0,815.0,0.0,NaN,NaN,157.0,125.0,32.0
9,AL,1945,7.0,6.0,NaN,NaN,215000.0,NaN,NaN,NaN,350.0,NaN,NaN,NaN,NaN,NaN

In [146]:
farmworkers_condensed.sample(10)

,State,Year,Month,Region,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,TotalForeign,TotalAgWorkers,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
13473,TX,1972,5.0,7.0,NaN,NaN,NaN,93325.0,1355.0,200.0,NaN,NaN,NaN,294.0,197.0,97.0
5028,LA,1965,12.0,7.0,8525.0,0.0,NaN,7131.0,980.0,414.0,0.0,NaN,NaN,68.0,56.0,12.0
14228,VA,1944,4.0,5.0,NaN,NaN,366000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10973,OK,1969,12.0,7.0,7870.0,NaN,NaN,7045.0,600.0,225.0,0.0,NaN,NaN,107.0,97.0,10.0
14838,WA,1965,11.0,9.0,4030.0,0.0,NaN,3160.0,300.0,570.0,0.0,NaN,NaN,73.0,56.0,17.0
9607,NM,1944,10.0,8.0,NaN,NaN,158000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6499,MI,1971,4.0,3.0,NaN,NaN,68000.0,3630.0,15.0,435.0,NaN,NaN,NaN,128.0,109.0,19.0
3089,ID,1946,6.0,8.0,NaN,2202.0,NaN,NaN,NaN,NaN,2202.0,NaN,NaN,NaN,NaN,NaN
2080,DE,1969,8.0,5.0,NaN,NaN,NaN,2165.0,0.0,2070.0,NaN,NaN,NaN,NaN,NaN,NaN
11746,PA,1957,1.0,2.0,NaN,NaN,95000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
co_filter = farmworkers_condensed['State'] == 'CO'
co_farmworkers = farmworkers_condensed[co_filter]
co_farmworkers.sample(10)

,State,Year,Month,Region,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,TotalForeign,TotalAgWorkers,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
1471,CO,1943,9.0,8.0,NaN,705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,CO,1971,7.0,8.0,NaN,NaN,133000.0,4165.0,505.0,3544.0,NaN,NaN,NaN,78.0,39.0,39.0
1716,CO,1947,6.0,8.0,NaN,595.0,NaN,NaN,NaN,NaN,595.0,NaN,NaN,NaN,NaN,NaN
1694,CO,1956,9.0,8.0,19354.0,1566.0,NaN,8856.0,1704.0,4382.0,1566.0,16508.0,NaN,NaN,NaN,NaN
1515,CO,1963,7.0,8.0,13662.0,2597.0,167000.0,6546.0,960.0,3559.0,2597.0,NaN,NaN,77.0,49.0,28.0
1670,CO,1966,1.0,8.0,NaN,NaN,62000.0,NaN,NaN,NaN,NaN,NaN,NaN,32.0,27.0,5.0
1607,CO,1964,8.0,8.0,13903.0,3545.0,NaN,6164.0,966.0,3228.0,3545.0,NaN,NaN,72.0,53.0,19.0
1561,CO,1971,1.0,8.0,NaN,NaN,60900.0,NaN,NaN,NaN,NaN,NaN,NaN,32.0,25.0,7.0
1502,CO,1948,4.0,8.0,NaN,NaN,109000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1655,CO,1950,4.0,8.0,NaN,812.0,63000.0,NaN,100.0,1200.0,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
al_filter = farmworkers_condensed['State'] == 'AL'
al_farmworkers = farmworkers_condensed[al_filter]
al_farmworkers.sample(10)

,State,Year,Month,Region,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,TotalForeign,TotalAgWorkers,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
310,AL,1970,6.0,6.0,10640.0,NaN,NaN,9420.0,585.0,635.0,0.0,NaN,NaN,89.0,67.0,22.0
270,AL,1953,10.0,6.0,NaN,NaN,454000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,AL,1972,6.0,6.0,NaN,NaN,NaN,8465.0,650.0,395.0,NaN,NaN,NaN,75.0,56.0,19.0
191,AL,1944,1.0,6.0,NaN,NaN,130000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,AL,1968,6.0,6.0,NaN,NaN,NaN,10320.0,725.0,975.0,NaN,NaN,NaN,101.0,74.0,27.0
213,AL,1959,1.0,6.0,NaN,NaN,63000.0,NaN,NaN,NaN,NaN,NaN,NaN,95.0,83.0,12.0
219,AL,1949,10.0,6.0,NaN,NaN,584000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,AL,1959,8.0,6.0,3690.0,0.0,NaN,3640.0,50.0,0.0,0.0,NaN,NaN,152.0,117.0,35.0
218,AL,1962,4.0,6.0,NaN,NaN,127000.0,NaN,NaN,NaN,NaN,NaN,NaN,128.0,99.0,29.0
243,AL,1947,12.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
co_farmworkers.value_counts('Region')

Region
8.0    305
Name: count, dtype: int64

In [176]:
farmworkers_condensed.value_counts('State')

State
CA    371
AZ    363
MD    354
MI    353
VA    346
AR    342
NY    336
OR    334
IN    333
LA    331
NJ    331
WA    330
NM    329
CO    327
MN    326
OK    325
OH    325
NV    325
PA    325
AL    325
RI    325
SC    325
TN    325
TX    325
UT    325
VT    325
WI    325
WV    325
SD    325
NC    325
NH    325
NE    325
CT    325
DE    325
FL    325
GA    325
IA    325
ID    325
IL    325
KS    325
KY    325
MA    325
ME    325
MO    325
MS    325
MT    325
ND    325
WY    325
Name: count, dtype: int64

In [182]:
co_farmworkers['Region'].isna().value_counts()

Region
False    305
True      22
Name: count, dtype: int64

In [184]:
farmworkers_condensed['State'].isna().value_counts()

State
False    15831
Name: count, dtype: int64

In [190]:
farmworkers_condensed[farmworkers_condensed.duplicated(keep=False)]

Empty DataFrame
Columns: [State, Year, Month, Region, TotalHiredSeasonal, Mexican, HiredWorkers, Local, Intrastate, Interstate, TotalForeign, TotalAgWorkers, Nonlocal, Farmworkers_Total, Farmworkers_Family, Farmworkers_Hired]
Index: []

In [290]:
year_filter = co_farmworkers['Year'] == 1958
co_farmworkers[year_filter].info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 1403 to 1722
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               12 non-null     object
 1   Year                12 non-null     int64
 2   Month               12 non-null     float64
 3   Region              10 non-null     float64
 4   TotalHiredSeasonal  7 non-null      float64
 5   Mexican             7 non-null      float64
 6   HiredWorkers        4 non-null      float64
 7   Local               7 non-null      float64
 8   Intrastate          7 non-null      float64
 9   Interstate          7 non-null      float64
 10  TotalForeign        7 non-null      float64
 11  TotalAgWorkers      7 non-null      float64
 12  Nonlocal            0 non-null      float64
 13  Farmworkers_Total   12 non-null     float64
 14  Farmworkers_Family  12 non-null     float64
 15  Farmworkers_Hired   12 non-null     float64
dtypes: float64(14), int64(1), object(1)
memory usage: 1.6+ KB

In [286]:
ca_filter = farmworkers_condensed['State'] == 'CA'
ca_farmworkers = farmworkers_condensed[ca_filter]
year_filter = ca_farmworkers['Year'] == 1957
ca_farmworkers[year_filter].info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 1080 to 1353
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               10 non-null     object
 1   Year                10 non-null     int64
 2   Month               10 non-null     float64
 3   Region              9 non-null      float64
 4   TotalHiredSeasonal  8 non-null      float64
 5   Mexican             8 non-null      float64
 6   HiredWorkers        4 non-null      float64
 7   Local               8 non-null      float64
 8   Intrastate          8 non-null      float64
 9   Interstate          8 non-null      float64
 10  TotalForeign        8 non-null      float64
 11  TotalAgWorkers      8 non-null      float64
 12  Nonlocal            0 non-null      float64
 13  Farmworkers_Total   5 non-null      float64
 14  Farmworkers_Family  5 non-null      float64
 15  Farmworkers_Hired   5 non-null      float64
dtypes: float64(14), int64(1), object(1)
memory usage: 1.3+ KB

In [288]:
year_filter = al_farmworkers['Year'] == 1957
al_farmworkers[year_filter].info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 20 to 231
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               10 non-null     object
 1   Year                10 non-null     int64
 2   Month               10 non-null     float64
 3   Region              9 non-null      float64
 4   TotalHiredSeasonal  7 non-null      float64
 5   Mexican             7 non-null      float64
 6   HiredWorkers        4 non-null      float64
 7   Local               7 non-null      float64
 8   Intrastate          7 non-null      float64
 9   Interstate          7 non-null      float64
 10  TotalForeign        7 non-null      float64
 11  TotalAgWorkers      7 non-null      float64
 12  Nonlocal            0 non-null      float64
 13  Farmworkers_Total   5 non-null      float64
 14  Farmworkers_Family  5 non-null      float64
 15  Farmworkers_Hired   5 non-null      float64
dtypes: float64(14), int64(1), object(1)
memory usage: 1.3+ KB

In [308]:
year_filter = co_farmworkers['Year'] == 1954
co_farmworkers[year_filter]

,State,Year,Month,Region,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,TotalForeign,TotalAgWorkers,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
1436,CO,1954,4.0,8.0,NaN,NaN,71000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1537,CO,1954,5.0,8.0,8016.0,0.0,NaN,5275.0,807.0,1774.0,0.0,7856.0,NaN,NaN,NaN,NaN
1587,CO,1954,8.0,8.0,19202.0,306.0,NaN,9630.0,2279.0,5552.0,306.0,17767.0,NaN,NaN,NaN,NaN
1599,CO,1954,10.0,8.0,16956.0,107.0,199000.0,8851.0,2037.0,3135.0,107.0,14130.0,NaN,NaN,NaN,NaN
1674,CO,1954,7.0,8.0,15471.0,536.0,176000.0,9093.0,1198.0,4046.0,536.0,14873.0,NaN,NaN,NaN,NaN
1681,CO,1954,1.0,8.0,NaN,NaN,93000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1701,CO,1954,9.0,8.0,21817.0,437.0,NaN,10672.0,1833.0,5699.0,437.0,18641.0,NaN,NaN,NaN,NaN
1704,CO,1954,11.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1706,CO,1954,6.0,8.0,16014.0,1910.0,NaN,7976.0,1005.0,4978.0,1910.0,15869.0,NaN,NaN,NaN,NaN

In [306]:
year_filter = ca_farmworkers['Year'] == 1954
ca_farmworkers[year_filter]

,State,Year,Month,Region,TotalHiredSeasonal,Mexican,HiredWorkers,Local,Intrastate,Interstate,TotalForeign,TotalAgWorkers,Nonlocal,Farmworkers_Total,Farmworkers_Family,Farmworkers_Hired
1061,CA,1954,2.0,9.0,NaN,16500.0,NaN,76500.0,NaN,NaN,NaN,NaN,23000.0,NaN,NaN,NaN
1094,CA,1954,12.0,9.0,NaN,29000.0,NaN,95000.0,NaN,NaN,NaN,NaN,33500.0,NaN,NaN,NaN
1206,CA,1954,6.0,9.0,192410.0,29110.0,NaN,114600.0,30210.0,18490.0,29110.0,192410.0,45000.0,NaN,NaN,NaN
1213,CA,1954,3.0,9.0,NaN,14300.0,NaN,69800.0,NaN,NaN,NaN,NaN,23700.0,NaN,NaN,NaN
1224,CA,1954,10.0,9.0,241800.0,50770.0,464000.0,128280.0,47200.0,15550.0,50770.0,241800.0,62800.0,NaN,NaN,NaN
1229,CA,1954,7.0,9.0,187800.0,29800.0,378000.0,114800.0,28500.0,14700.0,29800.0,187800.0,43400.0,NaN,NaN,NaN
1250,CA,1954,4.0,9.0,NaN,18200.0,183000.0,76000.0,NaN,NaN,NaN,NaN,30200.0,NaN,NaN,NaN
1267,CA,1954,5.0,9.0,172250.0,27100.0,NaN,101300.0,28950.0,14900.0,27100.0,172250.0,44000.0,NaN,NaN,NaN
1268,CA,1954,9.0,9.0,235400.0,47130.0,NaN,123300.0,50070.0,14900.0,47130.0,235400.0,69500.0,NaN,NaN,NaN
1317,CA,1954,1.0,9.0,NaN,14300.0,183000.0,88200.0,NaN,NaN,NaN,NaN,32800.0,NaN,NaN,NaN
1320,CA,1954,11.0,9.0,183700.0,35120.0,NaN,109570.0,28260.0,10750.0,35120.0,183700.0,38000.0,NaN,NaN,NaN
1321,CA,1954,8.0,9.0,196000.0,34600.0,NaN,113900.0,31350.0,16150.0,34600.0,196000.0,47500.0,NaN,NaN,NaN